# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jerne\OneDrive\Dokumenti\Algoritmi v racunalniski praksi\Vaja 1 - Counting,Roman sort\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
